body {
    /* background-color: #333333; */
}

section {
    padding: 4rem 1rem;
    /* box-shadow: 0 10px 5px #000; */
}

.navbar {
    padding: 0;
}

.nav-link {
    color: #c4c4c4;
    margin: 1.5rem 2rem;
    text-transform: uppercase;
    font-weight: 500;
    border-bottom: .1rem solid transparent;
    transition: border 400ms ease-in-out;
    /* transition: color 400ms ease-in-out; */
}

.nav-link:hover {
    color: #ffffff;
    border-bottom: .1rem solid #ffffff;
}

.active {
    color: #ffffff;
    font-weight: 600;
}

#landing {
    padding: 0;
    padding-top: 30vh;
    height: 80vh;
    overflow: hidden;
    color: #ffffff;
    /* background-image: url("images/sunset2.jpg");
    background-size: 110%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat; */
}

#landing-image {
    background-image: url("images/sunset.jpg");
    background-size: cover;
    background-position: center;
    z-index: -10;
    position: fixed;
    left: -5%;
    top: -5%;
    width: 110%;
    height: 110%;
    overflow: hidden;
}

.clear-text {
    font-weight: 900;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: .1rem .1rem .1rem rgba(128, 128, 128, .7);
}

#about-me {
    color: #ffffff;
    background-color: #333;
}

#projects {
    color: #000000;
    background-color: #ffffff;
}

#projects .card {
    /* background-color: #011E27; */
}

#projects h1 {
    /* color: #ffffff; */
}

footer {
    background-color: #15303f;
    height: 3000px;
}