section {
    padding: 4rem 1rem;
    /* box-shadow: 0 10px 5px #000; */
}

.navbar {
    padding: 0;
}

.nav-link {
    text-transform: uppercase;
    font-weight: 500;
    transition: 400ms ease-in-out;
    color: #dbdbdb;
    margin: 1.5rem;
    border-bottom: .2rem solid transparent;
}

.nav-link:hover {
    color: #dbdbdb;
    border-bottom: .2rem solid #dbdbdb;
}

.active {
    color: #ffffff;
    border-bottom: .2rem solid #ffffff;
    font-weight: 600;
}

#landing {
    overflow: hidden;
    padding: 40vh 0rem;
    color: #ffffff;
    /* background-image: url("images/sunset2.jpg");
    background-size: 110%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat; */
}

#landing img {
    z-index: -10;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.clear-text {
    font-weight: 900;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: .1rem .1rem .1rem rgba(128, 128, 128, .9);
}

#about-me {
    background-color: #ffffff;
}

#projects {
    color: #ffffff;
    background-color: #084B5E;
}

#projects .card {
    background-color: #011E27;
}

#projects h1 {
    color: #ffffff;
}

footer {
    background-color: #15303f;
    height: 3000px;
}