@import "custom-variables";
@import "../../node_modules/bootstrap/scss/bootstrap";


.navbar {
    background-color: $dark;
    @include media-breakpoint-up(sm) {
        background-color: transparent;
    }
}

section {
    padding: 4rem 1rem;
}

#hero {
    padding: 0;
    padding-top: 9rem;
    padding-bottom: 9rem;
    overflow: hidden;
}

#hero-image {
    background-image: url("../images/sunset.jpg");
    background-size: cover;
    background-position: center;
    z-index: -10;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#contact-form {
    border: 0;
    padding: 1rem;
    @include media-breakpoint-up(sm) {
        border-right: 1px solid $cyan;
        padding-right: 2rem;
    }
}

#other-contact {
    padding: 1rem;
    @include media-breakpoint-up(sm) {
        padding-left: 2rem;
    }
}